/ESP-32/main/model.h
/ESP-32/main/model.c
/ESP-32/sdkconfig
/ESP-32/.vscode
/ESP-32/build
/ESP-32/managed_components
/ESP-32/dependencies.lock
/Python/*.h5
/Python/.idea
/Python/__pycache__
/Python/utils/__pycache__
/Python/*.tflite
/Python/*.npy
venv
/Python/venv