/ESP-32/main/model.h
/ESP-32/main/model.c
/ESP-32/sdkconfig
/ESP-32/.vscode
/ESP-32/build
/ESP-32/managed_components
/ESP-32/dependencies.lock
/Python/*.h5
/Python/.idea
/Python/__pycache__
/Python/utils/__pycache__
/Python/*.tflite
/Python/*.npy
venv
/Python/venv
/esp32_metric/build
/esp32_metric/managed_components
/esp32_metric/dependencies.lock
/esp32_metric/.vscode
/esp32_metric/sdkconfig
/esp32_metric/sdkconfig.old
.vscode
/Python/.python-version
/esp32_metric/components/models/model_v2.c
/esp32_metric/components/models/include_v2/model_v2/model_v2.h
/esp32_metric/components/models/include_v2/model_v2_quan/model_quantized_v2.h
/esp32_metric/components/models/model_quantized_v2.c
